*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

body{
    scroll-behavior: smooth;
}

:root {
    --writing :  'Dancing Script', cursive;
    --sansita : 'Sansita Swashed', cursive;
    --heading : 'Grenze Gotisch', cursive;
    --default : 'Playfair Display', serif;

    --orange : rgb(255, 94, 0);
    --naviblue: rgb(10, 10, 26);
    
}

.First__section{
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
    top: 70px;
    z-index: 1;
    overflow: hidden;
}

.Home__text{
    background: url(../img/profile/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 30px 0 90px;
}



.Home__text h4 {
    position: relative;
    margin-top: 120px;
    padding : 10px 40px;
    font-size: 20px;
}

.Home__text h1{
    position: relative;
    padding : 10px 46px;
    font-size: 32px;
}

.Home__text p{
    position: relative;
    padding : 10px 46px;
    font-size: 26px;
}

.Home__text p span{
    color: var(--orange);
}

.Home__text h1 ,
.Home__text h4 ,
.Home__text p{
    z-index: 1;
    color: white;
} 

.Home__text button{
    position: relative;
    left: 80px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 50px 50px 40px 40px;
    font-size: 1rem;
    padding: 10px;
    top: 2px;
    margin: 35px;

    border-inline-start-color: rgb(253, 8, 8);
    border-inline-end-color: rgb(253, 8, 8);
    border-block-end: gray;
    border-block-start: transparent;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.Home__text.active button{
    position: relative;
    left: 80px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 50px 50px 40px 40px;
    font-size: 1rem;
    padding: 10px;
    top: 2px;
    margin: 35px;

    border-left: 3px solid red;
    border-right: 3px solid red;

    border-inline-start-color: rgb(253, 8, 8);
    border-inline-end-color: rgb(253, 8, 8);
    border-block-end: gray;
    border-block-start: transparent;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.Home__text button:hover{
    top:0px;
}

.Home__text .left__blood{
    position: relative;
}
.Home__text.active .left__blood::before{
    content: '';
    width: 10px;
    height: 10px;
    background:  url(../img/b_drop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top:24px;
    left: -115px;
    z-index: 99;

}


.Home__text.active .left__blood::after{
    content: '';
    width: 10px;
    height: 10px;
    background:  url(../img/b_drop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top:24px;
    left: 34px;
    z-index: 99;
}





.Home__text button a{
    color: #fff;
}

.Home__image{
    background: url(../img/profile/profile1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Home__image::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.124);
    z-index: 2;
}


@media (min-width : 992px){
    .Home__text::before{
        content: '';
        width: 60px;
        height: 60px;
        background: url(../img/paperRocket/white_rocket1.svg) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 180px;
        left: 580px;
        transform: rotate(20deg);
        z-index: 1;
    }
}

@media (max-width : 992px){
    .First__section{
        display: grid;
        grid-template-columns: 100%;
        position: relative;
        top: 70px;
        z-index: 1;
        overflow: hidden;
    }

    .Home__image{
        margin: 10px;
        position: absolute;
        top: 0px;
        right: 0;
        width: 40%;
        height: 200px;
    }
}