*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: var(--default);
    font-weight: 400;
}

body{
    scroll-behavior: smooth;
}

:root {
    --writing :  'Dancing Script', cursive;
    --sansita : 'Sansita Swashed', cursive;
    --heading : 'Grenze Gotisch', cursive;
    --default : 'Playfair Display', serif;

    --orange : rgb(255, 94, 0);
    --naviblue: rgb(10, 10, 26);

}

.First__section{
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
    top: 70px;
    z-index: 1;
    overflow: hidden;
}

.Home__text{
    background: url(../img/profile/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 30px 0 90px;
}



.Home__text h4 {
    position: relative;
    margin-top: 120px;
    padding : 10px 40px;
    font-size: 20px;
}

.Home__text h1{
    position: relative;
    padding : 10px 46px;
    font-size: 32px;
}

.Home__text p{
    position: relative;
    padding : 10px 46px;
    font-size: 26px;
}

.Home__text p span{
    color: var(--orange);
}

.Home__text h1 ,
.Home__text h4 ,
.Home__text p{
    z-index: 1;
    color: white;
}

.Home__text button{
    position: relative;
    left: 80px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 50px 50px 40px 40px;
    font-size: 1rem;
    padding: 10px;
    top: 2px;
    margin: 35px;

    border-inline-start-color: rgb(253, 8, 8);
    border-inline-end-color: rgb(253, 8, 8);
    border-block-end: gray;
    border-block-start: transparent;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.Home__text.active button{
    position: relative;
    left: 80px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 50px 50px 40px 40px;
    font-size: 1rem;
    padding: 10px;
    top: 2px;
    margin: 35px;

    border-left: 3px solid red;
    border-right: 3px solid red;

    border-inline-start-color: rgb(253, 8, 8);
    border-inline-end-color: rgb(253, 8, 8);
    border-block-end: gray;
    border-block-start: transparent;
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.Home__text button:hover{
    top:0px;
}

.Home__text .left__blood{
    position: relative;
}
.Home__text.active .left__blood::before{
    content: '';
    width: 10px;
    height: 10px;
    background:  url(../img/b_drop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top:24px;
    left: -115px;
    z-index: 99;

}


.Home__text.active .left__blood::after{
    content: '';
    width: 10px;
    height: 10px;
    background:  url(../img/b_drop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top:24px;
    left: 34px;
    z-index: 99;
}





.Home__text button a{
    color: #fff;
}

.Home__image{
    background: url(../img/profile/profile1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Home__image::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.124);
    z-index: 2;
}


@media (min-width : 992px){
    .Home__text::before{
        content: '';
        width: 60px;
        height: 60px;
        background: url(../img/paperRocket/white_rocket1.svg) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 180px;
        left: 580px;
        transform: rotate(20deg);
        z-index: 1;
    }
}

@media (max-width : 992px){
    .First__section{
        display: grid;
        grid-template-columns: 100%;
        position: relative;
        top: 70px;
        z-index: 1;
        overflow: hidden;
    }

    .Home__image{
        margin: 10px;
        position: absolute;
        top: 0px;
        right: 0;
        width: 40%;
        height: 200px;
    }
}


@media (max-width : 442px){

    .Home__image{
        margin: 10px;
        position: absolute;
        top: 0px;
        left: 30%;
        width: 40%;
        height: 200px;
    }

    .Home__text h4 {
        position: relative;
        margin-top: 166px;
        padding : 10px 40px;
        font-size: 20px;
    }
}

        /* Second Section */

 .Second__section{
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 80px;
    overflow: hidden;
}

.Second__section .About h1{
    font-size: 32px;
    padding-top: 10px;
    position: relative;
    left: 40%;
    width: 160px;
    font-family: var(--heading);
    font-weight: 700;
    color: var(--naviblue);
}


.Second__section .About h1::before{
    content: '';
    position: absolute;
    bottom: 0px  ;
    width: 20px;
    height: 3px;
    background: var(--orange);
    transition: all 500ms ease-in-out ;
    transform-origin: left;
}

.Second__section .About h1:hover::before{
    content: '';
    position: absolute;
    bottom: 0px  ;
    width: 140px;
    height: 3px;
    background: var(--orange);
    transform-origin: right;
}

.About__content{
    height: 100%;
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.About__image{
    width: 90%;
    margin: auto;
    height: 100%;
    background: url(../img/profile/profile2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.About__text{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    background: linear-gradient(to right bottom, #2B40F5 2% ,rgb(5, 113, 253));
}

.About__text h5{
    padding: 20px;
    font-size: 24px;
    color : #ffff;
    font-family: var(--sansita);
    font-weight: 400;
}

.About__text p{
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    
    font-family: var(--writing);
    font-weight: 500;
}

.About__text p a{
    cursor: pointer;
    font-size: 20px;
    color: var(--orange);
}

.About__text p a:hover{
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 230, 0);
}

.CV__button{

    padding: 10px;
    border-radius: 40px;
    position: relative;
    top:20px;
    left: 45%;
    background: rgb(95, 10, 252);
    color: #EEE;
    border: 2px solid rgb(162, 0, 255);
    transform: scale(1);
}

.CV__button:focus{
    transform: scale(0.8);
    padding: 10px;
    border-radius: 40px;
    position: relative;
    top:16px;
    left: 45%;
    background: rgb(95, 10, 252);
    color: #EEE;
    border: 2px solid rgb(162, 0, 255);

}

.CV__button:hover{
    padding: 10px;
    border-radius: 40px;
    position: relative;
    top: 20px;
    left: 45%;
    background: #EEE;
    color: rgb(95, 10, 252);
    border: 2px solid rgb(162, 0, 255);

}


@media (max-width:992px){
    .About__content{
        grid-template-columns:  100%;
    }

    .About__image{
        position: absolute;
        width: 40%;
        height: 200px;
        top: 0;
        left: 0;
        margin: 10px;
        z-index: 1;
        border-radius:0 ;
    }

    .About__text{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .About__text h5 {

        padding-top: 220px;
    }
}

@media (max-width:446px){
    .Second__section{
        overflow: hidden;
        padding-bottom: 80px;
    }

    .Second__section .About h1{
        left: 30%;
    }

    .About__image{
        position: absolute;
        width: 50%;
        height: 200px;
        top: 0;
        left: 25%;
        margin: 10px;
        z-index: 1;
        border-radius:0 10px 10px 0;
    }

    .CV__button{

        padding: 6px;
        border-radius: 40px;
        position: relative;
        top:20px;
        left: 30%;
        background: rgb(95, 10, 252);
        color: #EEE;
        border: 2px solid rgb(162, 0, 255);

    }

}

    /* Skills section */

.skills__section{
    overflow: hidden;
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
    display: block;
}

.skills__section .skills h1{
    font-size: 32px;
    padding-top: 10px;
    position: relative;
    top: 20px;
    left: 40%;
    width: 160px;
    font-family: var(--heading);
    font-weight: 700;
    color: var(--naviblue);
}
.skills__section .skills h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 5px;
    background: var(--orange);
    transform: scale(0.2);
    transform-origin: left;
    transition: all 500ms ease-in-out;
    z-index: -1;
}

.skills__section .skills h1:hover::before{
    transform: scale(1);
    transform-origin: right;
}

.skills__content{
    position: relative;
    top: 60px;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;

    padding-bottom: 100px;
}

.skills__text{
    width: 90%;
    margin: 0 auto;
}
.skills__content .skills__text h1{
    font-size: 28px;
}

.skills__content .skills__text p{
    padding-top: 32px;
    letter-spacing: 1px;
    word-wrap: wrap;
    font-size: 20px;
}

.skills__content .skills__percentages {
    width: 90%;
    margin: 0 auto;
}

.skills__content .skills__percentages h6{
    font-size: 24px;
}
        /* Code for percentage indication in skills */
.percentageDiv{
    position: relative;
    top: 30px;
}

.percentageDiv label{
    font-size: 20px;
}

.percentageDiv .htmlDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .htmlDiv::after{
    content: '90%';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 30px;
    height: 20px;
    color:white;
}
.percentageDiv .htmlDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 20px;
    background: green;
}
.percentageDiv .cssDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .cssDiv::after{
    content: '90%';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 30px;
    height: 20px;
    color:white;
}

.percentageDiv .cssDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 20px;
    background: green;
}
.percentageDiv .bootstrapDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .bootstrapDiv::after{
    content: '80%';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 30px;
    height: 20px;
    color:white;
}

.percentageDiv .bootstrapDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 20px;
    background: rgb(14, 172, 14);
}
.percentageDiv .jsDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .jsDiv::after{
    content: '74%';
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30px;
    height: 20px;
    color:white;
}

.percentageDiv .jsDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 64%;
    height: 20px;
    background: rgb(230, 141, 9);
}
.percentageDiv .jqueryDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .jqueryDiv::after{
    content: '50%';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 30px;
    height: 20px;
    color:rgb(27, 27, 27);
}

.percentageDiv .jqueryDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 20px;
    background: rgb(255, 180, 41);
}
.percentageDiv .phpDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .phpDiv::after{
    content: '60%';
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 30px;
    height: 20px;
    color:rgb(31, 31, 31);
}

.percentageDiv .phpDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 20px;
    background: rgb(255, 201, 24);
}
.percentageDiv .mysqlDiv{
    position: relative;
    width: 90%;
    height: 20px;
    background: rgb(151, 151, 151);
}

.percentageDiv .mysqlDiv::after{
    content: '60%';
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 30px;
    height: 20px;
    color:rgb(29, 28, 28);
}

.percentageDiv .mysqlDiv::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 20px;
    background: rgb(255, 201, 24);
}


@media (max-width :992px){
    .skills__content{
        grid-template-columns: 100%;
    }
    .skills__percentages{
        padding-top: 40px;
    }
}

@media (max-width : 446px){
    .skills__section .skills h1{
        left: 30%;
    }
}
        /* hobbies section */

.hobbies__section{
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 50px;
    background: linear-gradient(to left top , rgb(75, 75, 75) , white);
    overflow: hidden;
}

.hobbies__section .hobbies h1{
    font-size: 32px;
    padding-top: 10px;
    position: relative;
    top: 30px;
    left: 40%;
    width: 200px;
    z-index: 1;
    font-family: var(--heading);
    font-weight: 700;
    color: var(--naviblue);
}
.hobbies__section .hobbies h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 5px;
    background: var(--orange);
    transform: scale(0.2);
    transform-origin: left;
    transition: all 500ms ease-in-out;
    z-index: -1;
}

.hobbies__section .hobbies h1:hover::before{
    transform: scale(1);
    transform-origin: right;
}

.hobbies__content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 80px;
    padding-bottom: 100px;
}

.hobbies__design,
.hobbies__developer,
.hobbies__logoDesign
{
    width: 90%;
    margin: 0 auto;
}

.design__logo {
    width: 100%;
    margin: auto;
}

.design__logo img,
.develop__logo img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.design__heading h1,
.develop__heading h1{
    text-align: center;
}

.design__content ,
.develop__content{
    position: relative;
    top: 40px;
    margin: 0 auto;
}

.design__content h4,
.develop__content h4
{
    text-align: left;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width :992px){
    .hobbies__content{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 90px;
    }

    .hobbies__logoDesign{
        margin-top: 60px;
    }
}

@media (max-width :768px){


    .hobbies__content{
        height: 100%;
        display: grid;
        grid-template-columns:  1fr;
        position: relative;
        top: 90px;
    }

    .hobbies__developer{
        margin-top: 60px;
    }
}

@media (max-width:446px){
    .hobbies__section .hobbies h1{
        left: 30%;
    }
}

        /* Projects section */

.project__section{
    margin-top: 60px;
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left top , rgb(255, 231, 20) , rgb(67, 170, 255));
    overflow: hidden;
}

.project__section .project h1{
    font-size: 32px;
    padding-top: 10px;
    position: relative;
    top: 30px;
    left: 40%;
    width: 200px;
    z-index: 1;
    font-family: var(--heading);
    font-weight: 700;
    color: var(--naviblue);
}
.project__section .project h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 5px;
    background: var(--orange);
    transform: scale(0.2);
    transform-origin: left;
    transition: all 500ms ease-in-out;
    z-index: -1;
}

.project__section .project h1:hover::before{
    transform: scale(1);
    transform-origin: right;
}

.project__content
{
    position: relative;
    top: 50px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.project__content .project__heading h1{
    padding-top: 30px;
}

.project__content .project__div ul {
    position: relative;
    top: 30px;
    left: 20px;
    padding-bottom: 60px;
}

.project__content .project__div ul li{
    margin: 10px 0;
    position: relative;
}

.project__content .project__div ul li::before{
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    width: 0;height: 0;
    border-left: 16px solid var(--orange);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

}

.project__content .project__div ul li a{
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.project__content .project__div p{
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
    padding-bottom: 10px;
}

@media (max-width:446px){
    .project__section .project h1{
        left: 30%;
    }
}
        /* Contact section */


.contact__section{
    color: #fff;
   position: relative;
   top: 120px;
   width: 100%;
   height: 100%;
   display: block;
   overflow: hidden;
   padding-bottom: 130px;
   background: linear-gradient(to left bottom , rgb(36, 34, 34) ,rgb(19, 18, 18));
}

.contact__section .contact h1{
   font-size: 32px;
   padding-top: 10px;
   position: relative;
   left: 40%;
   width: 160px;
   font-family: var(--heading);
   font-weight: 700;
}


.contact__section .contact h1::before{
   content: '';
   position: absolute;
   bottom: 0px  ;
   width: 20px;
   height: 3px;
   background: var(--orange);
   transition: all 500ms ease-in-out ;
   transform-origin: left;
}

.contact__section .contact h1:hover::before{
   content: '';
   position: absolute;
   bottom: 0px  ;
   width: 156px;
   height: 3px;
   background: var(--orange);
   transform-origin: right;
}

.contact__content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__content .contact__text{
    position: relative;
    top: 40px;
    width: 90%;
    margin: 0 auto;
}

.contact__content .contact__text h1{
    position: relative;
    top: 20px;
    width: 90%;
    margin: 0 auto;
}

.contact__content .contact__text p{
    position: relative;
    top: 30px;
    width: 90%;
    margin: 0 auto;
}

.socialMedial{
    position: absolute;
    top: 80px;
    left: 10%;
    display: flex;
    width: 100%;
}


.socialMedial ul a li {
    margin: 10px;
}

.socialMedial ul a .fa-facebook-square{
    color: rgb(79, 79, 230);
    
    font-size: 24px;
}
.socialMedial ul a .fa-linkedin{
    background: rgb(98, 98, 168);
    color: #fff;
    font-size: 24px;
}
.socialMedial ul a .fa-instagram{
    color: rgb(212, 79, 230);
    font-size: 24px;
}

.contact__links{
    margin-bottom: 60px;
    position: relative;
    top: 100px;
}

.contact__links .name{
    position: relative;
    top: 0px;
    left: 10%;
}

.contact__links .name p{
    position: relative;
    top: 5px;
    left: 5%;
}

.contact__links .email{
    position: relative;
    top: 30px;
    left: 10%;
}

.contact__links .email p{
    position: relative;
    top: 5px;
    left: 5%;
}

.contact__mail{
    position: relative;
    top: 60px;
}

.contact__mail h1{
    font-size: 20px;
    margin-bottom: 20px;
}

form{
    
    width: 55%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
form input{
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin-left: 10%;
}

form .msg__name {
    display: flex;

}

form .msg__name .fName{
    margin-right: 20px;
}

form .msg__name .fName input ,
form .msg__name .lName input{
    border: none;
    border-radius: 5px;
    padding: 6px;
}

form .msg__send{
    width: 30%;
    font-size: 16px;
    border-radius: 50px;
    padding: 6px;
    border: 2px solid var(--orange);
    position: relative;
    left: 44%;
    background: var(--orange);
    color: #fff;
    transform: scale(1);
}

form .msg__send:focus{
    transform: scale(0.8);
}



form .msg__send:hover{
    border: 2px solid #fff;
    background: transparent;
    color: var(--orange);
    font-size: 16px;
}


@media (max-width : 446px){
    .contact__section .contact h1{
        left: 30%;
}

        /* footer */

footer{
    
    position: relative;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: black;
    color: #9b9b9b;
}

footer h1{
    text-align: center;
    font-size: 16px;
}

.fa-heart{
    color: rgb(238, 48, 48);
}

@media (max-width : 992px){
    .contact__content{
        position: relative;
        display: grid;
        grid-template-columns: 1fr ;
    }
    
    .contact__mail{
        position: relative;
        left: 10%;
        top: 150px;
    }
    
    form{
        padding-bottom: 60px;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    form input{
        margin-left: 0%;
    }
    
    form .msg__send{
        left: 30%;
    }

    form .msg__name .fName input ,
    form .msg__name .lName input{
        width: 96%;
        border: none;
        border-radius: 5px;
        padding: 6px;
    }

    form .msg__name .fName{
        margin-right: 0px;
    }
    form .msg__name {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width : 772px){
    .socialMedial{
        position: absolute;
        top: 100px;
        left: 10%;
        display: flex;
        width: 100%;
    }
    
}


@media (min-width : 992px){
    .msg__send::after{
        content: '';
        position: absolute;
        top: -10px;
        right: -40px;
        background: url(../img/paperRocket/plainRocket.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;height: 50px;
        z-index: 1;
        transform: rotate(45deg);
    }
    
    .msg__send.go.msg__send::after{
        content: '';
        position: absolute;
        top: -10px;
        left:100%;
        background: url(../img/paperRocket/plainRocket.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;height: 50px;
        z-index: 1;
        transform: rotate(45deg);
    }

}