*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --writing :  'Dancing Script', cursive;
    --sansita : 'Sansita Swashed', cursive;
    --heading : 'Grenze Gotisch', cursive;
    --default : 'Playfair Display', serif;

    --orange : rgb(255, 94, 0);
    --naviblue: rgb(10, 10, 26);
    
}